/* Imports */
@import url("reset.css");

/* Fonts */
@font-face { font-family: 'Folks-LightRegular'; src: url('fonts/Folks-Light-webfont.eot'); src: local('?'), url('fonts/Folks-Light-webfont.woff') format('woff'), url('fonts/Folks-Light-webfont.ttf') format('truetype'), url('fonts/Folks-Light-webfont.svg#webfont') format('svg'); font-weight: normal; font-style: normal; }



/**************/
/*   Global   */
/**************/

	/* Body */
  body { font-family: Helvetica, sans-serif; font-size: 16px; line-height: 1.1; }

	/* Headings */
	h1, h2, h3, h4, h5, h6 { font-weight: normal; margin-bottom: 5px; }
	h1 { font-size: 34px; font-family: Folks-LightRegular; }
	h2 { font-size: 24px; }
	h3 { font-size: 22px; }
	h4 { font-size: 18px; font-weight: bold; }
	h5 { font-size: 14px; }
	h6 { font-size: 12px; }	

	/* Anchors */
	a {outline: 0;}
	a img {border: 0px; text-decoration: none;}
	a:link, a:visited { color: #C74350; padding: 0 1px; text-decoration: underline; }
	
	
	.clearFloat { clear: both; }
	.floatLeft { float: left; margin-bottom: 25px; }
	em { font-style: italic; }
	div#dimBg { background-color: rgba(0,0,0,.75); position: fixed; top: 0; left: 0; width: 100%; height: 100%; display: none; z-index: 10000; }
	div#dimBg img.centerImg { position: relative; top: 50%; left: 50%; visibility: hidden; }
	.inputHintOverlay { color: #999; font-size: 15px; }
	
/**************/
/*  Wrapper   */
/**************/

	div#pageWrap { width: 950px; margin: 15px auto; }



/**************/
/*   Header   */
/**************/

	div#header { padding: 15px 20px; border-bottom: 1px solid #000; width: 910px; }
		div#header h1#title,
		div#header h3#subTitle { float: left; }
		
		div#header ul#topNav { list-style: none; float: right; margin: 15px 34px 0 0;  position: relative; font-family: Folks-LightRegular; }
			div#header ul#topNav li { display: inline; }
				div#header ul#topNav li a { color: #000; font-size: 16px; display: block; float: left; padding: 6px 19px 4px; text-decoration: none; text-transform: lowercase; }
				div#header ul#topNav li a:hover { color: #000; }
			div#header ul#topNav li.current a { color: #000; font-weight: bold; }
			div#header ul#topNav li a:hover,
			div#header ul#topNav li a:focus { outline: 0; text-decoration: underline; }

			
/**************/
/*   Footer   */
/**************/

	div#footer { font-size: 14px; font-family: Folks-LightRegular; padding: 15px 20px; border-top: 1px solid #000; width: 910px; }
	
/**************/
/*  Content   */
/**************/

	div#middleContent { padding: 20px 40px; }
	div#middleContent .narrow { width: 385px; margin: 8px 0;  line-height: 1.3; text-align: justify; }
	div#middleContent .right { float: right; margin: 20px 10px 40px; width: 400px; }
	div#middleContent .rightCol { float: right; margin: 0 10px; width: 450px; }
	.promoteJS { float: right; }
	
	/* About */
	dl.myStuff {}
		dl.myStuff dt { font-size: 17px; }
		dl.myStuff dd { margin: 3px 0 15px 15px; width: 370px; line-height: 1.2; }
		
	/* Portfolio */
	div.portfolioItem { width: 391px; float: left; margin: 8px 24px 8px 0; padding: 10px 20px 10px 0;  }
		div.portfolioItem img.crop { width: 380px; margin: 0 0; border: 1px solid #000; }
		div.portfolioItem h4 { margin-bottom: 10px; }
		
		
	/* Contact */
	dl.contactMe { margin-top: 15px; }
		dl.contactMe dt { font-size: 17px; }
		dl.contactMe dd { margin: 3px 0 15px 15px; width: 400px; line-height: 1.2; }
	div.socialGrid { margin: 15px 0 25px 20px; }
		div.socialGrid img.socialIcon { width: 30px; float: left; margin: 5px; }
		
	/* Code */
	pre, code { font-family: monospace; font-size: 14px; }
	dl.projectList { margin:14px 0 0 12px; width: 400px; }
		dl.projectList dt { font-weight: bold; font-size: 17px; margin-top: 20px; }
		dl.projectList dd { margin: 15px 0 0 35px; }
	div.section { margin: 12px 0 20px 0; float: left; clear: both; }
		div.section .noMark { list-style-type: none; margin: 8px 0; }
		div.section ul { margin-left: 20px; }
			div.section ul li { margin: 8px 0; width: 380px; text-align: justify; }
			div.section > ul > li { list-style-type: disc; margin: 8px 0 20px 0; }
				div.section ul li ul li { width: 360px; }
		div.section input[type=text], textarea { padding: 2px; font-size: 13px; width: 200px; margin-bottom: 8px; }
		div.section input[type=button] {font-size: 13px; padding: 1px; }
