<?php
	header("Content-type: text/css; charset: UTF-8");
	$color_scheme = array(
		'b1' => "#85c8f2",
		'b2' => "#57aaf2", 
		'b3' => "#020659",
		'a1' => "#BF9F51",
		'a2' => "#592b02",
		'a3' => "#400101",
		'notCompleted' => "red",
		'notSigned' => "#ffd700",
	);
?>

/* ================================== */
/*      Fonts                         */
/* ================================== */




/* ================================== */
/*      Default Styles                */
/* ================================== */

	body { font-family: Arial, Helvetica, sans-serif; font-size: 12px; line-height: 1.3; background-color: #666; color: #333; }
	
	p { font-family: Arial, Helvetica, sans-serif; font-size: 12px; line-height: 1.3; text-align: justify; margin-bottom: 8px; }
	
	a, a:active { color: <?php echo $color_scheme['b3'] ?>; text-decoration: none; }
	a:hover { text-decoration: underline; }

	h1 { font-size: 24px; font-weight: bolder; color: <?php echo $color_scheme['a3'] ?>; }
	h2 { font-size: 20px; font-weight: bold; color: <?php echo $color_scheme['a2'] ?>; }
	h3 { font-size: 16px; font-weight: bold; color: <?php echo $color_scheme['b3'] ?>; }
	h4 { font-size: 14px; font-weight: bold; color: <?php echo $color_scheme['a3'] ?>; text-transform: uppercase; }
	h5 { font-size: 12px; font-weight: bold; }
	
	.shadow {  -webkit-box-shadow: 10px 10px 2px #333; -moz-box-shadow: 10px 10px 2px #333; }
	
	.clearFloat { clear: both; }
	.floatRight { float: right; }
	.floatLeft { float: left; }
	.noShow { display: none; }
	
	.rounded { -moz-border-radius: 5px; -webkit-border-radius: 5px; }
	.noPad { padding: 0 !important; }
	
	.inputHintOverlay { font-size: 14px; color: #999; }
	
	span.error { color: red; font-size: 13px; }
	span.success { color: green; font-size: 13px; }
	
	strong { font-weight: bolder; }
	
	div#pageOverlay { width: 100%; height: 100%; position: fixed; left: 0; top: 0; background-color: rgba(0,0,0,0.6); display: none; z-index: 1000; }
	
	/* clearfix hack: http://css-tricks.com/snippets/css/clear-fix/ */
	.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
	.clearfix { display: inline-block; }
	/* start commented backslash hack \*/
		* html .clearfix { height: 1%; }
		.clearfix { display: block; }
	/* close commented backslash hack */


/* ================================== */
/*      Page Wrap                     */
/* ================================== */

	div#pageWrap { width: 900px; min-height: 400px; margin: 30px auto; background-color: #FFF;  }
	div#centerContent { width: 650px; padding: 0 20px; margin: 15px 0 30px 0; float: left;  }
	

/* ================================== */
/*      Titles                        */
/* ================================== */

	div#siteTitle { float: left; margin: 7px 0 0 10px; }
		div#siteTitle h1 { }
	div.pageTitles { margin-bottom: 15px; }
		div.pageTitles h2.pageTitle { float: left; }
		div.pageTitles h2.pageTitle.withSub:after {  content: '\0000a0 \2022 \0000a0'; }
		div.pageTitles h3.pageSubTitle { float: left; margin: 3px 0 0 0; }
	.itemTitle { margin: -2px 0 8px -2px; }

/* ================================== */
/*      Top Nav                       */
/* ================================== */


	div#topNavWrap { border-top: 2px solid white; border-bottom: 2px solid white; float: right; margin-right: 5px; }
		#topNav { margin: 0 auto; list-style: none; position: relative; }
			#topNav li { display: inline; }
				#topNav li a { color: <?php echo $color_scheme['a2'] ?>; font-size: 14px; display: block; float: left; padding: 6px 10px 4px 10px; text-decoration: none; text-transform: lowercase; }
				#topNav li a:hover { color: <?php echo $color_scheme['a3'] ?>; }
			#topNav li.current a { color: <?php echo $color_scheme['a3'] ?>; font-weight: bold; }
	#magic-line { position: absolute; bottom: -2px; left: 0; width: 100px; height: 2px; background: <?php echo $color_scheme['b2'] ?>; }


/* ================================== */
/*      Left Nav                      */
/* ================================== */

	div.leftNavContainer { float: left; clear: left; width: 150px; margin: 15px 15px 50px 15px;  }
	ul.leftNav { margin-bottom: 50px; }
		ul.leftNav li { margin: 15px 0; }
		ul.leftNav li a,
		ul.leftNav li a:visited	{ text-decoration: none; font-size: 16px; font-weight: bold; color: <?php echo $color_scheme['b2'] ?>; }
		ul.leftNav li a:hover,
		ul.leftNav li a:active { color: <?php echo $color_scheme['b1'] ?>; }
			ul.leftNav li ul.subLeft { margin: 2px 0 20px 10px; padding: 0 0 0 10px; border-left: 2px solid <?php echo $color_scheme['a1'] ?>; } /*border-bottom: 1px solid <?php echo $color_scheme['a1'] ?>; } */
				ul.leftNav li ul.subLeft li { margin: 8px 0; }
					ul.leftNav li ul.subLeft li a { font-size: 13px; font-weight: normal; }
		ul.leftNav li.collapsed ul.subLeft { display: none; }
		ul.leftNav li.expanded ul.subLeft { display: block; }
	ul.leftNav.admin li a,
	ul.leftNav.admin li a:visited { color: <?php echo $color_scheme['b3'] ?>;; }


/* ================================== */
/*      Form Styles                   */
/* ================================== */
	
	div.formHolder { float: left; margin: 10px; padding: 10px; }
	div.formRow { float: left; clear: both; margin: 4px 0; }
	div.formRow.submitRow { float: right; margin-top: 10px; }
	input[type=text],
	input[type=password] { padding: 4px; border: 1px #000 solid; font-size: 14px; width: 200px; }
	input[type=submit],
	input[type=button],
	button { padding: 4px; border: 1px solid #2E6393; color: #2E6393; background-color: rgba(30,30,30,.2); cursor: pointer; font-size: 14px; }
	select { padding: 4px; background: #FFF; border: 1px solid #000; width: 210px; font-size: 14px; }
	img.loading,
	img.success { display: none; }
	div#notifyArea { height: 20px; }
	div#confirm { width: 300px; height: 200px; padding: 20px; position: fixed; top: 100px; left: 50%; margin-left: -150px; background-color: #FFF; border: 4px solid <?php echo $color_scheme['b3'] ?>; display: none; z-index: 10000; }
		div#confirm div#confirmFooter { position: absolute; top: 200px; left: 10px;  width: 320px; text-align: right; }
			div#confirm div#confirmFooter button { margin: 0 10px; }

	
/* ================================== */
/*      Training View                 */
/* ================================== */

	div.signItemsBox { float: right; padding: 5px; border: 1px solid #000; text-align: center; }
		div.signItemsBox h5 { }
	div.signItems { width: 600px; height: 400px; padding: 20px; position: fixed; top: 100px; left: 50%; margin-left: -310px; background-color: #FFF; border: 4px solid <?php echo $color_scheme['b3'] ?>; display: none; z-index: 1001; }
		div.signItems h2 { margin-bottom: 15px; }
		div.signItems div.signFooter { position: absolute; top: 405px; left: 143px; width: 500px;}
			div.signItems div.signFooter div { float: left; clear: none; margin-left: 10px; }
			div.signItems div.signFooter input[type=text],
			div.signItems div.signFooter input[type=password] { width: 150px; }
			div.signItems div.signFooter button { margin-top: -2px; }
		div.signItems ul#tasksToSign {  height: 300px; width: 525px; margin-left: 30px; padding-left: 20px; display: block; overflow: auto; }
			div.signItems ul#tasksToSign li { font-size: 14px; list-style-type: disc; margin: 10px 0; }
	div.pageDesc { width: 500px; float: left; clear: both; margin: 10px 0 10px 45px; padding: 10px; }
		div.pageDesc ul { list-style-type: disc; margin: 5px 0 0 25px; font-size: 12px; }
	div.task { width: 500px; float: left; clear: both; margin: 10px 0 10px 45px; padding: 10px; border: 1px solid; overflow: hidden; }
		div.task ul li { list-style-type: circle; margin: 5px 0 0 25px; font-size: 12px; }
			div.task ul li ul li { list-style-type: disc; }
		div.task span.status { float: right; margin: -9px -7px 0 0; }
		div.task div.itemFooter { float: right; clear: both; }
	div.task.notCompleted { border-color: <?php echo $color_scheme['notCompleted'] ?>; }
		div.task.notCompleted h4.itemTitle { color: <?php echo $color_scheme['notCompleted'] ?>; }
		div.task.notCompleted span.status { color: <?php echo $color_scheme['notCompleted'] ?>; }
	div.task.notSigned { border-color: <?php echo $color_scheme['notSigned'] ?>; }
		div.task.notSigned h4.itemTitle { color: <?php echo $color_scheme['notSigned'] ?>; }
		div.task.notSigned span.status { color: <?php echo $color_scheme['notSigned'] ?>; }

	
/* ================================== */
/*      User Admin                    */
/* ================================== */

	div.userForm { margin: 10px 0 0 30px; float: left; }
		div.userForm  input {}
		div.userForm  select { float: left; }
		div.userForm span#selectInfo { width: 200px; margin-left: 15px; float: left; }
			div.userForm span#selectInfo span { display: none; }
	table.userTable { width: 670px; }
		table.userTable thead th { cursor: pointer; padding: 6px 8px; font-weight: bold; text-align: center; }
		table.userTable tbody td { padding: 4px 8px; }
		table.userTable tbody tr.contrastRow { background-color: #CCC; }
		table.userTable tbody tr.hlHover:hover { background-color: #DDD; }

		
/* ================================== */
/*      Section Admin                 */
/* ================================== */	

	ol.sectionSort { margin-left: 20px; float: left; width: 340px; }
		ol.sectionSort li { float: left; clear: both; list-style-type: none; font-size: 16px; margin: 5px 0; cursor: move; padding: 0 40px 0 30px; }
			ol.sectionSort li div { display: block; float: right; }
				ol.sectionSort li div img { margin-left: 20px; }
			ol.sectionSort li ol.sectionSort { display: none; margin-bottom: 20px; margin-left: 0px; }
	ul.sectionEdit { margin: 5px 0 15px 40px; float: left; line-height: 22px; font-size: 16px; }
		ul.sectionEdit li { margin: 7px 0; padding: 3px; }
			ul.sectionEdit li ul.sectionEdit { display: none; margin-left: 25px; float: none; }
			ul.sectionEdit li img.success { margin-left: 10px; }
			ul.sectionEdit li img.loading { margin: -5px 0 0 10px; height: 20px;  }
			ul.sectionEdit li img.editNav,
			ul.sectionEdit li img.delNav { display: none; }
		ul.sectionEdit li.collapsed:hover { background-color: #fef9cc; }
			ul.sectionEdit li:hover img.editNav,
			ul.sectionEdit li:hover img.delNav { display: inline; }
			ul.sectionEdit li:hover ul li img.delNav,
			ul.sectionEdit li:hover ul li img.editNav { display: none; }
			ul.sectionEdit li:hover ul li:hover img.delNav,
			ul.sectionEdit li:hover ul li:hover img.editNav { display: inline; }
			ul.sectionEdit li a { font-size: 12px; color: #000; font-weight: bold; margin-top: -5px; display: block; }
	img.editNav, img.delNav { cursor: pointer; margin: 0 5px; }
	
	li span.collapseButton { display: block; width: 12px; margin-left: -12px; float: left; background-repeat: no-repeat; cursor: pointer; }
	li span.collapseButton.collapsed { background-image: url('/public/images/arrow_right.png'); margin-top: 5px; }
	li span.collapseButton.expanded { background-image: url('/public/images/arrow_down.png'); margin: 8px 0 0 -16px; }
